@font-face {
  font-family: "RidleyGrotesk-Bold";
  src: url("assets/fonts/RidleyGrotesk-Bold.woff") format("woff");
}

body {
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 200px;
  background-image: url("assets/back0.png");
  background-color: transparent;
  font-family: "RidleyGrotesk-Bold";
}

#pig {
  width: fit-content;
  margin: auto;
  padding: 15px;
  display: block;
}

p {
  margin: 0;
}

#title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  font-size: 60px;
}

#byline {
  color: white;
  text-align: right;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#pill-button {
  margin: auto;
  width: 120px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border-radius: 100px;
  border: solid 6px white;
  padding: 10px;
  text-align: center;
}

#tim-button {
  margin: auto;
  width: 120px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border-radius: 100px;
  border: solid 6px white;
  padding: 10px;
  text-align: center;
}

#buttons {
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  font-size: 80px;
}

a {
  color: white;
  text-decoration: none;
  padding: 15px;
}